.form{
	font: 95% Arial, Helvetica, sans-serif;
	max-width: 400px;
	margin: 10px auto;
	padding: 16px;
	background: #F7F7F7;
}
.form h1{

	padding: 20px 0;
	font-size: 140%;
	font-weight: 300;
	text-align: center;
	color: black;
	margin: -16px -16px 16px -16px;
}
.form input[type="text"],
.form .text
{
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;
	outline: none;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 100%;
	background: #fff;
	margin-bottom: 4%;
	border: 1px solid #ccc;
	padding: 3%;
	color: #555;
	font: 95% Arial, Helvetica, sans-serif;
}
.form input[type="text"]:focus
{
	box-shadow: 0 0 5px #163BA4;
	padding: 3%;
	border: 1px solid #163BA4;
}

.form input[type="submit"]{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 100%;
	padding: 3%;
	background: #163BA4;
	border-bottom: 2px solid #163BA4;
	border-top-style: none;
	border-right-style: none;
	border-left-style: none;	
	color: #fff;
	margin-top: 20px;
}
.form input[type="submit"]:hover{
	background: #163BA4;
	
}