.Header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
}

.textMenu {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    display: flex;
    align-items: center;
    color: #353030;
}

.textUser {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    color: #163BA4;
}

.logo img {
    width: 138px;
    height: 40px;
}

.exit{
    height: 44px;
    width: 134px;
    border-radius: 10px;
    padding: 10px 32px 10px 32px;
    border: 1px solid #F41F13;
    color: #F41F13;
}

.btn_logout{
    display: flex;
    flex-direction: row;
    border: 1px solid #F41F13;
    font-size: 14px;
    height: 44px;
    width: 135px;
    border-radius: 10px;
    padding: 10px 32px 10px 32px;
    align-items: center;
}

.btn_logout span{
    font-family: Raleway;
    font-size: 14px;
    font-weight: 700;
    color: #FD2929;
    margin-right: 12px;
}