.content{
    margin: 50px;

}

.titl {
    margin-right: 100px;
    font-size: 20px;
    font-family: 'Raleway';
    display: flex;

}

.titl .text {
    color: #163BA4;

}

.table{
    margin-top: 60px;
    display:flex;
    justify-content: center;
}
table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
}

th,
td {
    padding: 5px;
    text-align: left;
}

.graph{
    margin-top: 50px;
}
.time{
    margin-top: 50px;
}

.timeItems{
    margin-top: 40px;
    display: flex;
    justify-content: space-around;
}

.timeItems button{
    display: inline-block;
    color: white;
    text-decoration: none;
    padding: .5em 2em;
    outline: none;
    border-width: 2px 0;
    border-style: solid none;
    border-color: #337dfd #000 #0664d7;
    border-radius: 6px;
    background: linear-gradient(#5fa0ef, #0664d7) #5fa0ef;
    transition: 0.2s;
}

.timeItems button:hover{
    background: linear-gradient(#0e54aa, #0664d7) #2587ff;
}

.timeItems button:active {
    background: linear-gradient(#0e54aa, #0664d7) #2587ff; 
}