.container{
    background: #FFFFFF;
    box-shadow: 0px 3px 12px 3px rgba(0, 0, 0, 0.05);
    width: 1380px;
    margin-top: 49px;
    margin-left: auto;
    margin-right: auto;
    padding: 32px;
}

.captionForm{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    display: flex;
    align-items: center;
    color: #353030;
}

.container form{
    margin-top: 32px;
    font-family: Open Sans;
    font-size: 18px;
    font-weight: 400;
}

.inputs span{
    font-weight: 600;
}

.inputs1, .inputs2, .inputs3, .inputs4{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 50px;
}

.inputs4, .inputs2, .inputs3{
    margin-top: 45px;
}

.inputs1{
    gap:76px;
}

.inputs2{
    gap: 56px;
}

.inputs3{
    gap: 62px;
}

.inputs1 div, .inputs2 div, .inputs3 div, .inputs4 div{
    display: flex;
    flex-direction: column;
}

.inputs1 div, .inputs2 div, .inputs3 div{
    gap:5px
}

.inputs4 div{
    gap:25px;
    width: 300px;
}

.inputMaster{
    width:610px;
    padding-left: 15px;
}

.inputTime{
    width:300px;
    padding-left: 15px;
}

.inputStreet, .inputTask{
    width: 426px;
    padding-left: 15px;
}

.inputData, .inputHouse, .inputPhone {
    width: 251px;
}

.inputHouse, .inputFlat{
    padding-left: 15px;
}

.inputCom{
    width:1306px;
    height: 68px;
    margin-bottom: 48px;

}

.inputComm{
    width: 800px;
    margin-top: 25px;
}


.btns{
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap:58px;
}

.btn{
    width: 138px;
    height: 44px;
    border-radius: 10px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    color: #FFFFFF;
    display: flex;
    flex-direction: row;
    padding: 10px 32px 10px 32px;
    align-items: center;
}

.btnSave{
    background: #01AE4B;
}

.btnCancel{
    background: #FD2929;
}